body {
  background-color: #F6CDB7;
  font-family: 'Arial', sans-serif; 
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  color: #97484C; 
}

p {
  line-height: 1.5;
  color:#8B2D30; 
}

li{  color:#8B2D30;
  list-style: inside; 
}
