body {
  background-color: #d2b48c; 
  color: #2C3E50; 
  font-family: 'Arial', sans-serif; 
}

h1 {
  font-family: 'Arial Black', sans-serif; 
  color: #8B4513; 
}

p {
  line-height: 1.5; 
  margin-bottom: 20px; 
}

a {
  color: #8B4513; 
  text-decoration: none; 
}
