body {
  background-color: #F6CDB7; /* Fond */
  font-family: 'Arial', sans-serif; /* Police de caractères */
}

h1 {
  font-family: 'Arial Black', sans-serif; /* Police de titre */
  color: #97484C; /* Couleur de titre */
}

p {
  line-height: 1.5; /* Espacement entre les lignes */
  margin-bottom: 20px; /* Marge basse */
  color:#8B2D30; /* Couleur de texte */
}

li {
  margin-bottom: 20px; /* Marge basse */
  color:#8B2D30; /* Couleur de texte de la liste */
  list-style: inside; /* Style de liste (points à l'intérieur) */
}
